@model IEnumerable<Graduation_Projects_System.Models.ApplicationUser>

<p>
    @Html.ActionLink("Add New Professor", "AddProfessor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Department.name)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Department.name)
        </td>

        <td>
            
            @Html.ActionLink("Details", "ViewProfessor", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteProfessor", new { id=item.Id })
        </td>
    </tr>
}

</table>
